---
title: "USSP Software verification"
date: 2022-10-20
draft: True
categories: ["open utm", "software verification","certification"]
tags: ["utm", "utmsp","ussp", "ussp certification"]
---

Openskies provides foundational elements of a federated UTM services and also a roadmap for jurisdictions to graudally enable additional services and service providers in a international standards compatible fashion.
<!--more-->

## Introduction

In the EU, in January 2023, per the Commission Implementing Regulation (EU) [2021/664](https://www.easa.europa.eu/en/regulations/U-space) of 22 April 2021 on a regulatory framework for the U-space, member states will have to allocate new air-space structures as "U-Space" to enable drone flights withing this air-space. In addition to enabling safe integration of drones, this regulation introduces a number of requirements for Member States around certification of different entities. 

## U-Space Service Providers
The Member States will be responsible for designating the geographical zones where the drone operations will be allowed to take place with the support of U-space services. The ‘U-space service providers’ (USSP) are referred to as newly created organisations that are to be certified to provide U-space service, which may be in one or more Member States. Article 14, 15 and 18 of the regulation introduces requirements for certification of USSPs and the responsiblities for the member states. Article 18 specifically mentions the requirement on Member States to establish audit and oversight processes around the services provided by U-Space providers and also mandates that Member States carry out audits, assessments, investigations and inspecations of the Service Providers. 

### Mandatory Services

The Member States will be responsible for designating the geographical zones where the drone operations will be allowed to take place with the support of U-space services. The ‘U-space service providers’ (USSP) are referred to as newly created organisations that are to be certified to provide U-space service, which may be in one or more Member States. They will have to provide - at least - four mandatory U-space services: 
- geo-awareness  (ED 269 standard)
- traffic information (Maybe centralized)
- flight authorization - Automated verification
- network identification (ASTM standard) – Automated verification

### Background
Drone operators should have non-discriminatory access to all U-space service providers in the Union. They will have to establish a contract with one certified USSP of their choice and request their flight authorisation at least 5 minutes prior to estimated take-off time. 

Air Navigation Service Providers (ANSPs) will continue to remain responsible for the provision of air traffic management (ATM) services to manned aircraft. They will have to establish arrangements with USSP’s to ensure adequate coordination and exchange of information.

### Self-certification requirements
As a pre-requisite of the certification requirements, USSPs are required to verify and demonstrate software compliance to the technical standards, the first step in this is via "self-certification" by the USSP. 

### Software Verification

### Third party verification

### Conclusion