---
title: "USSP Software verification"
date: 2022-10-20
draft: True
categories: ["open utm", "software verification","certification"]
tags: ["utm", "utmsp","ussp"]
---

Openskies provides foundational elements of a federated UTM services and also a roadmap for jurisdictions to graudally enable additional services and service providers in a international standards compatible fashion.
<!--more-->

## Introduction

