
<div class="footer wrapper">
		
	<br>
	<h3>Openskies Stack</h3>
	<div class="site-description-extended">The products <u>in purple</u> are developed by Openskies Aerial Technology Ltd., these are modular, standards-compliant and can be customized and deployed for your requirements / situations.</div>
	<img src="/images/openskies-stack.png">

	<nav class="nav">
		<div>&copy; {{ now.Format "2006"}} {{ with .Site.Copyright }} {{ . | safeHTML }}{{ end }}</div>
		
	</nav>
</div>


{{- with .Site.Params.Social -}}
<script>feather.replace()</script>
{{- end -}}
