<div class="header">
	{{ if .Site.Params.Avatar }}
		<div class="avatar">
			<a href="{{ .Site.BaseURL }}">
				<img src="{{ .Site.Params.Avatar }}" alt="{{ .Site.Title }}" />
			</a>
		</div>
	{{ end }}
	<h1 class="site-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
	<div class="site-description">
		{{- if isset .Site.Params "subtitle" -}}
		<p>{{ .Site.Params.Subtitle | markdownify }}</p>
		{{- end -}}
		<nav class="nav social">
			<ul class="flat">
				{{- range $index, $key := .Site.Params.Social -}}
					<li><a href="{{ $key.url }}" title="{{ $key.name }}"><i data-feather="{{ $key.icon }}"></i></a></li>
				{{- end -}}
			</ul>
		</nav>
                {{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
                <span class="scheme-toggle"><a href="#" id="scheme-toggle"></a>
                {{- end -}}
	</div>
	<div class="site-description-extended">We build open source tools, services supporting the drone ecosystem (UTM / U-Space). Whether you are a drone enthusiast or an expert, the articles below will help you understand how our tools can assist you. </div>

	<nav class="nav">
		<ul class="flat">
			{{ range .Site.Menus.main }}
			<li>
				<a href="{{ .URL }}">{{ .Name }}</a>
			</li>
			{{ end }}
		</ul>
	</nav>
	
	<br>
	<h3>Openskies Stack</h3>
	<div class="site-description-extended">The figure below shows the full scope of the products <u>in purple</u> developed by Openskies Aerial Technology Ltd., these are modular, standards-compliant and can be customized and deployed for your requirements / situations.</div>
	<img src="/images/openskies-stack.png">

</div>
